@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}
/* purgecss start ignore */
header > div {
    transition: all 0.4s ease-in-out, padding 0.4s ease-in-out,
        font-size 0.3s ease-in-out;
    height: 75px; /* Initial height */
    padding: 10px 20px; /* Initial padding */
}
.collapsed {
    height: 50px; /* Adjust height for collapsed state */
    padding: 5px 10px; /* Adjust padding */
    @apply bg-tint_1 dark:bg-shade_4;
}
.collapsed .text,
.collapsed .logo,
.collapsed .darkmode {
    font-size: 0.8em; /* Minimize text size */
    @apply text-main;
}
.activeLink {
    @apply border-main text-main dark:text-tint_4 dark:border-main;
}
.inactiveLink {
    @apply border-transparent dark:border-transparent dark:text-tint_1 dark:hover:text-tint_4 hover:text-main; /* Apply inactive styles correctly */
}
/* Custom CSS */
@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/* purgecss end ignore */
.dark-overlay {
    position: absolute; /* Position the overlay absolutely within the main section */
    top: 0; /* Align to the top */
    left: 0; /* Align to the left */
    right: 0; /* Stretch to the right */
    bottom: 0; /* Stretch to the bottom */
    background-color: rgba(0, 0, 0, 0.5); /* Black color with 50% opacity */
    z-index: -1; /* Make sure the overlay is above the background */
}
/* aaaaaaaaaaaaaaaaaaaaaaaaa */
.glass {
    background: rgba(
        255,
        255,
        255,
        0.1
    ); /* White background with transparency */
    backdrop-filter: blur(5px); /* Increased blur effect */
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
#main-section {
    position: relative;
    z-index: 1;
}
.price {
    font-size: 30px;
}
.animateee {
    position: absolute; /* Keep the absolute positioning */
    bottom: 0; /* Change from top: 0 to bottom: 0 */
    left: 0; /* Keep left at 0 */
    width: 100%; /* Keep width at 100% */
    overflow: hidden; /* Keep overflow hidden */
    line-height: 0; /* Keep line-height at 0 */
}
#alert-border-3 {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    width: 90%;
    max-width: 600px;
}
