@tailwind base;
@tailwind components;
@tailwind utilities;
/* Custom CSS */
.activeLink {
    @apply border-main text-main ;
}

.inactiveLink {
    @apply text-shade_9 dark:border-shade_9;
}

/*.inactiveLink:hover {
    @apply border-tint_4;
}*/

/*.r-activeLink {
    border-left-width: 4px;
    border-left-color: #6366f1;
    color: #3730a3; 
    background-color: #eef2ff; 
    outline: none; 
}

.r-inactiveLink {
    border-left-width: 4px;
    border-left-color: transparent;
    color: #4b5563; 
}*/
